<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Issue Tracking</title>
	<link rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">

	<link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-container ">
			<div class="container-fluid ">
				<!--Toggle button for mobile Nav-->
				<button class="navbar-toggler navbar-light " type="button " data-bs-toggle="collapse " data-bs-target="#main-nav " aria-controls="main-nav " aria-expanded="false " aria-label="Toggle navigation ">
				<span class="navbar-toggler-icon "></span>
			  </button>
		
				<!--Navbar Links-->
				<div class="collapse navbar-collapse justify-content-end align-center " id="main-nav ">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
					  <li class="nav-item ">
						<a class="nav-link active " aria-current="page " th:href="@{/index}"><i class="bi bi-house-fill "></i> <strong>Zesco Issue Tracker</strong> </a>
					</li>
						<li class="nav-item ">
							<a class="nav-link active " aria-current="page " th:href="@{/about}"><i class="bi bi-house-fill "></i>About</a>
						</li>
					</ul>
					<form class="d-flex">
						<div class="container text-center">
							<div sec:authorize="isAuthenticated()">Authenticated as
								<h4><span sec:authentication="name"></span></h4> 
							</div>
							<div>
								<a th:href="@{/logout}" class="btn btn-dark">SignOut</a><br>
				
							</div>
					  </form>
				</div>
			</div>
		</nav><br><br>
		<div class="d-flex text-center justify-content-evenly">
			<div><h3><a th:href="@{/equipments}" class="btn btn-info">Equipments</a></h3></div>
			<div><h3><a th:href="@{/issue}" class="btn btn-warning">Issues</a></h3></div>
		</div><br><br>
			<div class="container text-center">
				<div>
					<h3><a th:href="@{/addissue}" class="btn btn-success">Add New Issue</a></h3>
				</div>
				
				<div><h1>Listing all Issues</h1></div>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Equipment</th>
							<th>Description</th>
							<th>Location</th>
							<th>Status</th>
							<th>Date</th>
							<th>Comment</th>
							<th>Action</th>
						</tr>			
					</thead>
					<tbody>
						<tr th:each="issue: ${listIssues}">
							<td th:text="${issue.id}"></td>
							<td th:text="${issue.equipment}"></td>
							<td th:text="${issue.description}"></td>
							<td th:text="${issue.location}"></td>
							<td th:text="${issue.status}"></td>
							<td th:text="${issue.dateofinspection}"></td>
							<td th:text="${issue.comment}"></td>
							<td>
								<a th:href="@{/issues/edit/{id}(id=${issue.id})}"
								class="btn btn-warning" >Update</a>
								<a th:href="@{/issues/comment/{id}(id=${issue.id})}"
								class="btn btn-success" >Comment</a>
								<a th:href="@{/issues/{id}(id=${issue.id})}"
								class="btn btn-danger" >Delete</a>
								
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</body>
</html>